:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7f3;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
.about-section {
  padding: 160px 20px;
}
