:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fd;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
.logo {
  max-height: 40px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a:hover,
nav li.active {
  color: var(--branding-color);
}
.top-info {
  text-align: center;
  background: var(--secondary-color);
  padding: 160px 20px;
}
.top-info p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.top-info h1 {
  font-size: 96px;
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.top-info h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}
p {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.project-description {
  padding: 120px 60px;
}
h2 {
  font-size: 64px;
  font-weight: bold;
  color: black;
  font-family: var(--heading-font-family);
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.about-section {
  padding: 160px 20px;
}
.about-section-content {
  margin: 30px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.about-section h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--default-font-family);
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  padding: 15px 30px;
}
.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 10xpx;
}
.headshot {
  border-radius: 20px;
}
.content-container {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}
.contacts {
  display: block;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
h4 {
  font-size: 48px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
