:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7f3;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
.about-section {
  padding: 160px 20px;
}
.about-section-content {
  margin: 30px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.about-section h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--default-font-family);
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  padding: 15px 30px;
}
.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 10xpx;
}
.headshot {
  border-radius: 20px;
}
.content-container {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}
.contacts {
  display: block;
}
